.hamburgerMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamburgerIcon {
  width: 30px;
  height: 8px;
  margin-bottom: 4px;
  position: relative;
}

/* .hamburgerMenu.open .hamburgerIcon:nth-child(1) img {
  animation: rotateTopLine 0.3s ease forwards;
}

.hamburgerMenu.open .hamburgerIcon:nth-child(2) img {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hamburgerMenu.open .hamburgerIcon:nth-child(3) img {
  animation: rotateBottomLine 0.3s ease forwards;
}

.hamburgerMenu:not(.open) .hamburgerIcon:nth-child(1) img {
  animation: rotateBackTopLine 0.3s ease forwards;
}

.hamburgerMenu:not(.open) .hamburgerIcon:nth-child(2) img {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.hamburgerMenu:not(.open) .hamburgerIcon:nth-child(3) img {
  animation: rotateBackBottomLine 0.3s ease forwards;
}

@keyframes rotateTopLine {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(12px) rotate(45deg);
  }
}

@keyframes rotateBottomLine {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(-12px) rotate(-45deg);
  }
}

@keyframes rotateBackTopLine {
  0% {
    transform: translateY(12px) rotate(45deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

@keyframes rotateBackBottomLine {
  0% {
    transform: translateY(-12px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
} */
